
/*-----Orange : #e67e22-------*/

/*------------------------------------------------*/
/*    BASIC SETUP   */
/*------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Lato','Arial',sans-serif;
    color: #000000;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*------------------------------------------------*/
/*    REUSABLE CODE   */
/*------------------------------------------------*/


.row{
    max-width: 1140px;
    margin: 0 auto;
  
}

section{
    padding: 80px;
}


.box{
    padding: 1%;
}
/*-------HEADINGS--------*/
h1,
h2,
h3{
    
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    
    
}
h1{
    margin-top: 0;
    font-size: 240%;
    font-weight: 300;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-decoration: none;
}
h2{
    font-size: 130%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
    letter-spacing: 1px;
    
    
}
h3{
    font-size: 110%;
    color: #000;
}

h2 :after{
    display:block;
    height: 2px;
    background-color:#e67e22;
    content: "";
    width: 100px;
    margin-top: 30px;
    margin:0 auto;
    
    
}
/*-------NAVIGATION--------*/
.main-nav{
    float: right;
    padding-right: 2px;
    
}
.main-nav a{
    text-decoration: none;
    color: #fff;
   
}
.main-nav a:hover{
    color:#e67e22;
    transition-delay:0.2s;
}


/*-------PARAGRAPHS--------*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    
}
.box p{
    font-size: 90%;
    line-height: 145%;
}

/*-------ICONS--------*/
.icon-big{
    font-size: 300%;
    color: #e67e22;
    display: block;
    margin-bottom: 10px;
}

.icon-small{
    text-align: center;
    font-size: 120%;
    color: #e67e22;
}
/*-------LINKS--------*/
.cities-features a{
    text-decoration: none;
    color: #e67e22;
    font-size: 90%;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s,color 0.2s;
}
a:hover,
a:active{
    color:#000;
    border-bottom: 1px solid transparent;
}



/*-------BUTTONS--------*/

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition:background-color 0.2s,border 0.2s,color 0.2s;
}


.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #bf6516;
}

.btn-full:hover,
.btn-full:active{
   
    border: 1px solid #bf6516 ;
    
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #bf6516;
    color: #fff;
    
    
}



/*------------------------------------------------*/
/*    HEADER  */
/*------------------------------------------------*/
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-color:#545454;
    height: 100vh;
    background-attachment: fixed;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    
}
/*----------------
Only for sticky navigation bar
.logo-black{
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;;
    display:none;}

---------------------*/

/*    main-navi  */

.main-nav{
    
    float: right;
    list-style: none;
    margin-top: 50px;
    overflow: hidden;
    
   
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
    color: #000;
    
   
    
}

.main-nav li a: link,
.main-nav li a: visited{
    padding:  8px,0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom:2px solid transparent;
    transition:border-bottom:0.2s;
   
}

.main-nav li a: hover,
.main-nav li a: active{
    border-bottom:2px solid #e67e22;
}
/*  -----  mobile-navi  

mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none; 
}-------*/

/*    sticky-navi  */
/*----------------------------------------------
.sticky{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.88);
    width:100%;
    box-shadow: 0 2px 2px #cecece;
}
.sticky .main-nav{margin-top: 18px;}

.sticky .main-nav li a: link,
.sticky .main-nav li a: visited{
    color: #888686;
    padding: 16px 0;
    font-size: 70%;
    
}

.sticky .logo{display: none;}
.sticky .logo-black{display: block;}

--------------------------------------------------*/





/*------------------------------------------------*/
/*    FEATURES  */
/*------------------------------------------------*/

.section-features .long-copy{
    margin-bottom: 30px;
}
/*------------------------------------------------*/
/*    MEALS  */
/*------------------------------------------------*/

.section-meals{
    padding: 0;
}
.meals-showcase{
    list-style: none;
    width: 100%;
}
.meals-showcase li{
    display: block;
    width: 25%;
    float: left;
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.meal-photo img{
    width: 100%;
    opacity: 0.7;
    height: auto;
    transform: scale(1.15);
    transition:transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}

/*------------------------------------------------*/
/*    HOW IT WORKS  */
/*------------------------------------------------*/
.step-box{
    margin-top: 30px;
}
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen{
    width: 40%;
}
.work-step{
    margin-bottom: 40px;
}

.work-step div{
    color: #e67e22;
    border:2px solid #e67e22;
    border-radius:50%;
    float: left;
    padding: 5px;
    text-align: center;
    font-size: 150%;
    margin-right: 10px;
    
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 5px;
    margin-top: 50px;
}


/*------------------------------------------------*/
/*    MEALS  */
/*------------------------------------------------*/


.box img{
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}
.cities-features{
    margin-bottom: 4px;
    
}
.cities-features.a{
    color: #e67e22;
    text-decoration-style: none;
}

/*------------------------------------------------*/
/*    TESTIMONIALS  */
/*------------------------------------------------*/

.section-testimonial{
    background-image:linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)),url(images/back-customers.jpg);
    color: #fff;
    background-attachment: fixed;
}
.section-testimonial h2{
    color: #fff;
    font-weight: 400;
}
blockquote{
    font-style: italic;
    padding:5px;
    margin-top: 5px;
}
cite{
    font-size: 90%;
    margin-top: 30px;
}
cite img{
    border-radius: 50%;
    margin-top: 10px;
    height: 45px;
    margin-right: 10px;
    display: block;
    vertical-align: middle;
}

/*------------------------------------------------*/
/*    SIGN UP  */
/*------------------------------------------------*/


.section-plans{
    background-color: beige;
    display: block;
}
.plan-box{
    background-color: #efeded;
    width: 90%;
    border-radius: 5px;
    margin-left: 5%;
    
}
.plan-box div{
    padding:15px;
    border-bottom: 1px solid #c4c4c4;
    
}
.plan-box div a{
    background-color: dimgrey;    
}

.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    
    margin-bottom: 8px;
}
.plan-price{
    margin-bottom: 10px;
    font-size: 300%;
    font-weight: 100;
    color: #e67e22;
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-price-meal{
    margin-bottom: 15px;
    font-size: 130%;
}
.plan-box div:last-child{
    text-align: center;
    
}


/*------------------------------------------------*/
/*    FORM  */
/*------------------------------------------------*/

.section-form{
    margin: 0 auto;
    width: 60%;
}
input[type=text],
input[type=email],
textarea,
select{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
textarea{
    height: 100px;
}
input[type=checkbox]{
    padding: 10px 5px 10px 0;
}
*:focus{outline: none;}


/*------------------------------------------------*/
/*    FOOTER  */
/*------------------------------------------------*/
footer{
    background-color:#3b3636;
}
.footer-nav{
    list-style:none;
    
    float: left;
}
.footer-links{
    list-style: none;
    float: right;
    
}
.footer-nav li,
.footer-links li{
    display: inline-block;
    margin-right: 15px;
}
.footer-nav li a,
.footer-links li a{
    text-decoration: none;
    color: #a8a2a2;
}


.footer-nav li a:hover,
.footer-nav li a:active,
.footer-links li a:hover,
.footer-links li a:active{
   
    color: #e0dddd;
    transition-duration: 0.3s;
}
footer p{
    color: #bfb3b3;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 90%;
}
.footer-links li a{
    font-size: 150%;
    
}
.ion-social-facebook:hover{
    color: #3b5998;
}
.ion-social-instagram:hover{
    color:#d1225e; 
}
.ion-social-twitter:hover{
    color: #00aced;
}
.ion-social-skype:hover{
    color: #00aff0;
}
.ion-social-facebook,
.ion-social-instagram,
.ion-social-twitter,
.ion-social-skype{
    transition-delay: 0.2s;
}

/*------------------------------------------------*/
/*    Animations  */
/*------------------------------------------------*/

/*.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
}
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
}*/

